<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

  <div class="menu_section">
    <h3>联盟管理员</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-group"></i> 加盟商管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/admin/todo-list">加盟申请</a></li>
          <li><a href="/admin/franchises">景区</a></li>
          <li><a href="/admin/suppliers">供应商</a></li>
        </ul>
      </li>
      <!-- <li><a><i class="fa fa-university"></i> 产品 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/ops/products/publish">已发布</a></li>
        </ul>
      </li> -->
      <li><a><i class="fa fa-file-text-o"></i> 文章管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/admin/categories/index">分类</a></li>
          <li><a href="/admin/articles?category_id=2a28cb78f73411e69a3c00163e023e51">旅游产品</a></li>
          <li><a href="/admin/articles?category_id=01d6120cf73411e69a3c00163e023e51">需求发布</a></li>
          <li><a href="/admin/articles?category_id=30a56cb8f73411e69a3c00163e023e51">旅游资讯</a></li>
          <li><a href="/admin/articles?category_id=8853422e03a911e7998c00163e023e51">经验交流</a></li>

        </ul>
      </li>
      <li><a><i class="fa fa-file-image-o"></i> 精彩瞬间 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/admin/multimedias/draft">草稿箱</a></li>
          <li><a href="/admin/multimedias/publish">公开</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-book"></i> 消息 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/admin/guest-book">留言管理</a></li>
          <li><a href="/admin/notice-board">公告</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-gear"></i> 联盟配置 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/admin/administrators">管理员</a></li>
          <li><a href="/admin/profile/edit">个人信息</a></li>
          <!-- <li><a href="/admin/hha">免责声明</a></li> -->
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->
