<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

  <div class="menu_section">
    <h3>联盟管理员</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-group"></i> 俱乐部 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/vendors/portal/activity">待办事项</a></li>
          <li><a href="/vendors/portal/symbol">俱乐部</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-file-image-o"></i> 社区 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/vendors/activitys/create/step1">分类</a></li>
          <li><a href="/vendors/activitys/category">景点</a></li>
          <li><a href="/vendors/activitys/hot">新闻</a></li>
          <li><a href="/vendors/activitys/draft">活动</a></li>
          <li><a href="/vendors/activitys/recruit">游记</a></li>
          <li><a href="/vendors/activitys/doing">攻略</a></li>
          <li><a href="/vendors/activitys/completed">教程</a></li>
          <li><a href="/vendors/activitys/canceled">话题</a></li>
          <li><a href="/vendors/activitys/canceled">赛事</a></li>
          <li><a href="/vendors/activitys/canceled">嘉年华</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-gear"></i> 配置 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
          <li><a href="/vendors/setup/vendor-info">联盟</a></li>
          <li><a href="/vendors/setup/administrators">管理员</a></li>
          <li><a href="/profile/edit">个人信息</a></li>
          <li><a href="/vendors/setup/hha">免责声明</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->
